

html{


}

body{
	font-family: 'Josefin Slab', serif;
	max-width: 700px;
	margin-left: auto;
	margin-right: auto;
	margin-top:0px;
	margin-bottom: 20px;
	color: #323232;

}

::selection {
	background-color: #FB0064;
	color: #ffffff;
}

@media only screen and (max-width: 745px) {

	body{
		width: 94%;
		margin-left: auto;
		margin-right: auto;
	}

}

@media only screen and (max-width: 450px) {

	h1.logo-resume {
		font-size: 45px; 
		font-size: 14vw;
	}

	h1 {
		font-size: 45px; 
		font-size: 14vw;
	}	

	.long {
		display: none;
	}

	.short {
		display: inline;
	}

}

@media only screen and (min-width: 450px) {

	h1.logo-resume {
		font-size:3.75em;
	}

	h1.logo-main {
		font-size:4.75em;
	}
	
	.long {
		display: inline;
	}

	.short {
		display: none;
	}

}

h1.logo-resume{

	text-transform: uppercase;
	font-weight:700;
	color: #191970;
	margin-top:.33em;
	margin-bottom: 5px;
	border-bottom: 1px solid #A7A7A7;

}

.main-page {
	max-width: 500px;
	margin-left: auto;
	margin-right: auto;

}



h1.logo-main{

	text-transform: uppercase;
	font-weight:700;
	color: #191970;
	margin-bottom: 0px;
	margin-top: 100px;
	margin-top: 15vh;
}



.intro {
	font-size:1.75em;
	margin-bottom:100px;
	margin-bottom: 15vh;
}




h3 {
	font-family: 'Lato', sans-serif;
	text-transform: uppercase;
	font-style: normal;
	font-size: 1.375em;
	font-weight:300;
	color: #191970;

}

.recent-items {
	font-size: 1.25em;
}


.social {
	font-size: 1.25em;
}

.contact-info{
	margin-bottom: 1.5em;
	font-style: normal;
	list-style-type:none;
	list-style-position: inside;

}



div.job-summary{
	font-family: 'Lato', sans-serif;
	font-style: normal;
	font-size: 1.1em;
	margin-bottom: 5px;
	clear:both;

}

.organization{
	font-style: inherit;

}

.organization-name{
	text-transform: uppercase;
	font-weight:700;
	font-style: inherit;
	color: #191970;
	float: left;


}

.organization-location{
	font-style: inherit;
	font-weight:300;
	float:left;
}


em.organization-name::after {
	content: ",\0000a0";

}


.position{
	clear:both;
	font-weight:300;
}

.job-title{
	text-transform: uppercase;
	font-weight:300;
	font-style: inherit;
	float:left;

}

.time-period{
	font-style: inherit;
	font-weight:300;
	float:left;

}

em.job-title::after {
	content: ",\0000a0";
}

time + time::before{

	content:"\002014";
}

p{
	margin-top:0px;
	margin-bottom: 0px;
}

ul {
	list-style: square;
	margin-top:0px;
	font-size: 1.2em;
	clear:both;
}

li {
	margin-bottom: 3px;
}

div.section-break{
	text-align: center;
	margin:1em 0 1em;
	font-size: 1.15em;

}

a { 
	font-weight: 700; 
	text-decoration: none; 
	color: #191970; 
}

a:visited { color: #323232; }
a:hover   { text-decoration: none; color: #FB0064; }

footer {

	font-family: 'Lato', sans-serif;
	max-width: 700px;
	margin-left: auto;
	margin-right: auto;
	color: #323232;
	text-align: center;
	font-size: .85em;
	clear:both;
	padding-top: 50px;
	margin-bottom: 50px;

}

footer p {

}
